*{
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

#firsthline{
    border-top: 5px solid black;
}

#secondhline{
    border-top: 10px solid #00b8e6;
}

h1{
    font-weight: 700;
    font-size: 40px;
}

#goodLuckButtonContainer{
    padding-top: 50px;
}

#goodLuckButton{
    font-weight: 400;
    font-size: 32px;
    border: 2px solid black;
    background: white;
    box-shadow: 5px 10px #eebb55;
    width: 25%;
    height: 10%;
    outline-color: #eebb55;
}